/***
 *** Общее
 ***/
/**
 **  Меню перехода на страницу пооиска книг
 **/
ul.top-level {
    margin: 0;
    padding: 0;
    list-style: none;
    border: 1px dashed #e1e1e1;
    border-radius: 5px;
    padding: 45px 15px;
    max-width: 180px;

    /* Для того чтобы Chrome не добавлял лишние отступы */
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
}

ul.top-level > ul.bottom-level {
    margin: 0;
    padding: 0;
    list-style: none;
    margin-bottom: 20px;
}

ul.top-level > li.top-level-link {
    margin-bottom: 7.5px;
}

ul.top-level > ul.bottom-level > li.bottom-level-link {
    margin-bottom: 5px;
}

ul.top-level > li.top-level-link > a {
    font-family: Tahoma, sans-serif;
    font-size: 17px;
    color: black;
    letter-spacing: 0.3px;
    text-decoration: none;
    border-bottom: 1px solid black;
}

ul.top-level > ul.bottom-level > li.bottom-level-link > a {
    font-family: Tahoma, sans-serif;
    font-size: 12px;
    color: #5f7495;
    letter-spacing: 0.3px;
    text-decoration: none;
    border-bottom: 1px solid #5f7495;
}

/**
 ** Оглавление книги
 **/
.book-toc {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    /*border: 1px solid red;*/
}

/*
 * Заголовок
 */
.book-toc > h2 {
    font-family: Tahoma, sans-serif;
    font-size: 24px;
    font-weight: normal;
    margin: 0;
    margin-bottom: 20px;
    /*border: 1px solid green;*/
}

/*
 * Оглавление
 */
.book-toc > input[type="radio"][name="chapter"] {
    display: none;
}

.book-toc > ul.level.level-1 {
    overflow-y: auto;
    height: 100%;
    /*border: 1px solid black;*/
}

.book-toc > ul.level.level-1 > li:last-child {
    margin-bottom: 5px;
}

.book-toc ul.level {
    display: block;
    padding: 0;
    margin: 0;
    list-style-type: none;
    counter-reset: cntr;
}

.book-toc ul.level > li {
    display: block;
    /*border: 1px solid red;*/
}

.book-toc ul.level > li > ul.level > li {
    padding-left: 20px;
}

.book-toc .text-dots-page {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    font-family: Tahoma, sans-serif;
    font-size: 16px;
    text-decoration: none;
    color: black;
    border-radius: 5px;
    cursor: pointer;
    padding-bottom: 7px;
    /*background-color: #d3be4a;*/
    /*border: 1px solid black;*/
}

.book-toc .text-dots-page::before {
    content: counters(cntr, ".") ". ";
    counter-increment: cntr;
    background-color: #d3be4a;
    background-image: linear-gradient(#fefdfa, #f7f5e5);
    position: relative;
    left: 0;
    bottom: -4px;
}

.book-toc .text-dots-page > .chapter {
    position: relative;
    white-space: normal;
    width: 100%;
    border-bottom: 1px dotted black;
}

.book-toc .text-dots-page > .chapter > span {
    background-color: #d3be4a;
    background-image: linear-gradient(#fefdfa, #f7f5e5);
    bottom: -4px;
}

.book-toc .text-dots-page > .chapter > span.text {
    position: relative;
    left: 0;
    padding-right: 5px;
    white-space: normal;
    margin-right: 20px;
}

.book-toc .text-dots-page > .chapter > span.page {
    position: absolute;
    right: 0;
    padding-left: 5px;
}

/*
 * Оглавление - Выбор главы
 */
.book-toc > input[type="radio"].chapter.chapter-1:checked ~ ul.level.level-1 label.text-dots-page.chapter-1,
.book-toc > input[type="radio"].chapter.chapter-2:checked ~ ul.level.level-1 label.text-dots-page.chapter-2,
.book-toc > input[type="radio"].chapter.chapter-3:checked ~ ul.level.level-1 label.text-dots-page.chapter-3,
.book-toc > input[type="radio"].chapter.chapter-4:checked ~ ul.level.level-1 label.text-dots-page.chapter-4,
.book-toc > input[type="radio"].chapter.chapter-5:checked ~ ul.level.level-1 label.text-dots-page.chapter-5,
.book-toc > input[type="radio"].chapter.chapter-6:checked ~ ul.level.level-1 label.text-dots-page.chapter-6,
.book-toc > input[type="radio"].chapter.chapter-7:checked ~ ul.level.level-1 label.text-dots-page.chapter-7,
.book-toc > input[type="radio"].chapter.chapter-8:checked ~ ul.level.level-1 label.text-dots-page.chapter-8,
.book-toc > input[type="radio"].chapter.chapter-9:checked ~ ul.level.level-1 label.text-dots-page.chapter-9,
.book-toc > input[type="radio"].chapter.chapter-10:checked ~ ul.level.level-1 label.text-dots-page.chapter-10 {
    background-color: #d3be4a;
}

.book-toc > input[type="radio"].chapter.chapter-1:checked ~ ul.level.level-1 label.text-dots-page.chapter-1 > .chapter > span,
.book-toc > input[type="radio"].chapter.chapter-2:checked ~ ul.level.level-1 label.text-dots-page.chapter-2 > .chapter > span,
.book-toc > input[type="radio"].chapter.chapter-3:checked ~ ul.level.level-1 label.text-dots-page.chapter-3 > .chapter > span,
.book-toc > input[type="radio"].chapter.chapter-4:checked ~ ul.level.level-1 label.text-dots-page.chapter-4 > .chapter > span,
.book-toc > input[type="radio"].chapter.chapter-5:checked ~ ul.level.level-1 label.text-dots-page.chapter-5 > .chapter > span,
.book-toc > input[type="radio"].chapter.chapter-6:checked ~ ul.level.level-1 label.text-dots-page.chapter-6 > .chapter > span,
.book-toc > input[type="radio"].chapter.chapter-7:checked ~ ul.level.level-1 label.text-dots-page.chapter-7 > .chapter > span,
.book-toc > input[type="radio"].chapter.chapter-8:checked ~ ul.level.level-1 label.text-dots-page.chapter-8 > .chapter > span,
.book-toc > input[type="radio"].chapter.chapter-9:checked ~ ul.level.level-1 label.text-dots-page.chapter-9 > .chapter > span,
.book-toc > input[type="radio"].chapter.chapter-10:checked ~ ul.level.level-1 label.text-dots-page.chapter-10 > .chapter > span {
    background-image: none;
}

.book-toc > input[type="radio"].chapter.chapter-1:checked ~ ul.level.level-1 label.text-dots-page.chapter-1::before,
.book-toc > input[type="radio"].chapter.chapter-2:checked ~ ul.level.level-1 label.text-dots-page.chapter-2::before,
.book-toc > input[type="radio"].chapter.chapter-3:checked ~ ul.level.level-1 label.text-dots-page.chapter-3::before,
.book-toc > input[type="radio"].chapter.chapter-4:checked ~ ul.level.level-1 label.text-dots-page.chapter-4::before,
.book-toc > input[type="radio"].chapter.chapter-5:checked ~ ul.level.level-1 label.text-dots-page.chapter-5::before,
.book-toc > input[type="radio"].chapter.chapter-6:checked ~ ul.level.level-1 label.text-dots-page.chapter-6::before,
.book-toc > input[type="radio"].chapter.chapter-7:checked ~ ul.level.level-1 label.text-dots-page.chapter-7::before,
.book-toc > input[type="radio"].chapter.chapter-8:checked ~ ul.level.level-1 label.text-dots-page.chapter-8::before,
.book-toc > input[type="radio"].chapter.chapter-9:checked ~ ul.level.level-1 label.text-dots-page.chapter-9::before,
.book-toc > input[type="radio"].chapter.chapter-10:checked ~ ul.level.level-1 label.text-dots-page.chapter-10::before {
    background-image: none;
}

/**
 ** Группа-радиокнопок-аккордион
 **/
/*
 * Общая часть
 */
.payment-modes {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    /*border: 1px solid black;*/
}

/*
 * radio-кнопки
 */
.payment-modes > .payment-modes-accordion {
    /*border: 1px solid black;*/
}

.payment-modes > .payment-modes-accordion > input[type="radio"].radio-payment-mode {
    display: none;
}

.payment-modes > .payment-modes-accordion > .payment-mode {
    margin-top: 5px;
}

.payment-modes > .payment-modes-accordion > .payment-mode > .text {
    display: inline-block;
    vertical-align: middle;
    font-family: Tahoma, sans-serif;
    font-size: 14px;
    line-height: 12px;
    cursor: pointer;
    /*border: 1px solid black;*/
}

.payment-modes > .payment-modes-accordion > .payment-mode > .figure {
    display: inline-block;
    vertical-align: middle;
    box-sizing: content-box;
    width: 10px;
    height: 10px;
    border: 3px solid #ccc;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
}

.payment-modes > .payment-modes-accordion > input[type="radio"].radio-payment-mode.radio-yandex-money-wallet-mode:checked ~ .payment-mode.yandex-money-wallet-mode > .figure::before,
.payment-modes > .payment-modes-accordion > input[type="radio"].radio-payment-mode.radio-yandex-money-card-mode:checked ~ .payment-mode.yandex-money-card-mode > .figure::before,
.payment-modes > .payment-modes-accordion > input[type="radio"].radio-payment-mode.radio-webmoney-mode:checked ~ .payment-mode.webmoney-mode > .figure::before,
.payment-modes > .payment-modes-accordion > input[type="radio"].radio-payment-mode.radio-robokassa-mode:checked ~ .payment-mode.robokassa-mode > .figure::before {
    content: '';
    display: block;
    position: absolute;
    top: 2px;
    left: 2px;
    box-sizing: border-box;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #667393;
}

/*
 * Раздвижение блока с выбранным способом платежа
 */
@keyframes overflow-visible {
    from {
        overflow: hidden;
    }
    to {
        overflow: visible;
    }
}

.payment-modes > .payment-modes-accordion > input[type="radio"].radio-payment-mode.radio-yandex-money-card-mode:checked ~ .payment-mode.yandex-money-card-mode > .info {
    animation: 3s overflow-visible;
    animation-fill-mode: forwards;
    height: 160px;
}

.payment-modes > .payment-modes-accordion > input[type="radio"].radio-payment-mode.radio-yandex-money-wallet-mode:checked ~ .payment-mode.yandex-money-wallet-mode > .info,
.payment-modes > .payment-modes-accordion > input[type="radio"].radio-payment-mode.radio-webmoney-mode:checked ~ .payment-mode.webmoney-mode > .info {
    animation: 3s overflow-visible;
    animation-fill-mode: forwards;
    height: 50px;
}

/*
 *  Поля ввода реквизитов
 */
.payment-modes > .payment-modes-accordion > .payment-mode > .info {
    font-size: 12px;
    width: 300px;
    margin-top: 5px;
    margin-left: 10%;
    padding-left: 5px;
    padding-right: 5px;
    overflow: hidden;
    height: 0px;
    transition-property: height;
    transition-duration: 0.8s;
    transition-timing-function: ease-in-out;
    /*border: 1px solid black;*/
}

.payment-modes > .payment-modes-accordion > .payment-mode > .info > form {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    height: 100%;
    /*border: 1px solid black;*/
}

.payment-modes > .payment-modes-accordion > .payment-mode > .info > form > .row {
    width: 100%;
}

.payment-modes > .payment-modes-accordion > .payment-mode > .info > form > .row:last-of-type {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.payment-modes > .payment-modes-accordion > .payment-mode > .info > form > .row > .cell {
    width: 100%;
    /*border: 1px solid black;*/
}

.payment-modes > .payment-modes-accordion > .payment-mode > .info > form > .row > .cell:not(:first-child) {
    margin-left: 5px;
}

.payment-modes > .payment-modes-accordion > .payment-mode > .info > form > .row > .cell > label {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    /*border: 1px solid black;*/
}

.payment-modes > .payment-modes-accordion > .payment-mode > .info > form > .row > .cell > label > .text {
    font-family: Tahoma, sans-serif;
    font-size: 12px;
    line-height: 10px;
    display: inline-block;
    vertical-align: middle;
    /*border: 1px solid black;*/
}

.payment-modes > .payment-modes-accordion > .payment-mode > .info > form > .row > .cell > label > .hint {
    margin-left: 5px;
    display: inline-block;
    vertical-align: middle;
    /*border: 1px solid black;*/
}

.payment-modes > .payment-modes-accordion > .payment-mode > .info > form > .row > .cell > .skew-outer {
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: white;
}

/* стилизация банковских реквизитов */
.payment-modes > .payment-modes-accordion > .payment-mode.yandex-money-card-mode > .info > form > .row > .cell.card-holder input {
    text-transform: uppercase;
}

.payment-modes > .payment-modes-accordion > .payment-mode.yandex-money-card-mode > .info > form > .row > .cell.card-num .card-type {
    display: inline-block;
    vertical-align: middle;
    font-family: Tahoma, sans-serif;
    font-size: 12px;
    float: right;
    margin-right: 10px;
    color: #ccc;
    /*border: 1px solid black;*/
}

.payment-modes.get-money > .payment-modes-accordion > .payment-mode.robokassa-mode {
    display: none;
}

/*
 * Группа чекбоксов - "Сохранить реквизиты платежа" и "Разрешить автоплатеж"
 */
.payment-modes > .checkbox-group {
    margin: auto;
    /*border: 1px solid black;*/
}

.payment-modes.buy-book > .checkbox-group {
    display: none;
}

.payment-modes > .checkbox-group > .allow-auto-payment {
    pointer-events: none;
    color: #ddd;
}
.payment-modes > .checkbox-group > .allow-auto-payment > .checkbox {
    border-color: #eee;
}
.payment-modes > .checkbox-group > .allow-auto-payment > .checkbox::after {
    border-color: #ddd;
}

.payment-modes > .checkbox-group > input.save-payment-details:checked ~ .allow-auto-payment {
    pointer-events: auto;
    color: black;
}
.payment-modes > .checkbox-group > input.save-payment-details:checked ~ .allow-auto-payment > .checkbox {
    border-color: #ccc;
}
.payment-modes > .checkbox-group > input.save-payment-details:checked ~ .allow-auto-payment > .checkbox::after {
    border-color: #667393;
}

.payment-modes > .checkbox-group > input[type="checkbox"] {
    display: none;
}

.payment-modes > .checkbox-group > .text-checkbox {
    margin-top: 5px;
}

.payment-modes > .checkbox-group > .text-checkbox > .checkbox {
    margin-right: 5px;
}

.payment-modes > .checkbox-group > input[type="checkbox"].save-payment-details:checked ~ .text-checkbox.save-payment-details > .checkbox::after,
.payment-modes > .checkbox-group > input[type="checkbox"].allow-auto-payment:checked ~ .text-checkbox.allow-auto-payment > .checkbox::after {
    display: block;
}

/**
 ** Кнопка
 **/
.btn {
    display: inline-block;
    vertical-align: middle;
    font-family: Tahoma, sans-serif;
    font-size: 14px;
    color: black;
    text-decoration: none;
    border-style: none;
    border-top-left-radius: 10px 5px;
    border-top-right-radius: 10px 5px;
    border-bottom-left-radius: 10px 5px;
    border-bottom-right-radius: 10px 5px;
    padding: 5px 10px;
    background-image: linear-gradient(to top, #dbdbdb, #f0f0f0);
    cursor: pointer;
    outline: none;
}

.btn:active {
    box-shadow: inset 0 0 5px 0 #666;
}

/**
 ** Форма отправки отзыва
 **/
form.send-review.textarea {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    /*border: 1px solid black;*/
}

form.send-review.textarea textarea {
    font-family: 'Myriad Pro Regular';
    font-size: 16px;
    color: #5e5e5e;
    box-sizing: border-box;
    width: 100%;
    height: 100px;
    padding: 10px 20px;
    border-radius: 5px;
    resize: none;
    outline: none;
}

form.send-review.textarea .textarea-info {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
    margin: 5px 0 0 0;
    /*border: 1px solid black;*/
}

/*
 * Строка: Использовано 0 символов из 4000 возможных
 */
form.send-review.textarea .textarea-info .info {
    font-family: Tahoma, sans-serif;
    font-size: 12px;
    color: #666;
    margin-right: 10px;
}

/**
 ** Наклонный textarea
 **/
.textarea {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    /*border: 1px solid black;*/
}

.textarea .skew-outer {
    width: 100%;
}

.textarea textarea.skew-inner {
    display: block;
    box-sizing: border-box;
    width: calc(100% - 20px);
    height: 100px;
    margin: auto;
    resize: none;
    /*border: 1px solid black;*/
}

/*
 * Строка: Использовано 0 символов из 4000 возможных
 */
.textarea .textarea-info {
    font-family: Tahoma, sans-serif;
    font-size: 12px;
    color: #666;
    display: inline-block;
    vertical-align: middle;
    margin-right: -15px;
    margin-top: 5px;
}

/**
 ** Наклонные select-ы
 **/
select {
    font-family: Tahoma, sans-serif;
    font-size: 12px;
    box-sizing: border-box;
    height: 25px;
    padding-right: 30px;

    appearance: none; /* Общее, не знаю браузер, который использует это свойство */
    -moz-appearance: none; /* Для Firefox */
    -webkit-appearance: none; /* Для Chrome и возможно для Safari */

    background-image: url('../svg/vb/dropdown.svg');
    background-size: 35px 35px;
    background-repeat: no-repeat;
    background-position: calc(100% + 7px) center;
    cursor: pointer;
}

.skew-outer.select {
    background-image: linear-gradient(to top, #d5d5d5, white);
    background-size: 50% 100%;
    background-repeat: no-repeat;
    background-position: right center;
    padding-right: 3px;
}

/**
 ** Наклонные input-ы
 **/
.skew-outer {
    display: inline-block;
    padding-left: 4px;
    padding-right: 4px;
    border: 1px solid #c3c3c3;
    transform: skewX(15deg);
}

.skew-inner {
    outline-style: none;
    border-style: none;
    transform: skewX(-15deg);
    font-family: Tahoma, sans-serif;
    font-size: 12px;
    box-sizing: border-box;
    height: 25px;
    width: 100%;
}

/**
 ** Фото автора в маске-обрезалке
 **/
.author-photo {
    position: relative;
    border-radius: 50%;
    box-sizing: content-box;
    min-width: 100px;
    max-width: 100px;
    min-height: 100px;
    max-height: 100px;
    overflow: hidden;
    border: 1px dashed #ccc;
}

.author-photo img {
    box-sizing: border-box;
    width: 80px;
    height: 80px;
    position: absolute;
    margin: 10px;
    /*border: 1px solid black;*/
}

/*
 * Круглая маска для обрезания фотки автора
 */
.author-photo::before {
    content: '';
    display: block;
    box-sizing: border-box;
    width: 80px;
    height: 80px;
    background-image: url('../svg/vb/circle.svg');
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    margin: 10px;
    z-index: 1;
    /*border: 1px solid black;*/
}

/**
 ** Значок-вопросика с всплывающей подсказкой
 **/
.hint {
    display: inline-block;
    vertical-align: middle;
    position: relative;
}

.hint .question-mark {
    display: block;
    width: 14px;
    height: 14px;
    background: url('../svg/vb/question-mark.svg') no-repeat;
    background-size: 100%;
    cursor: pointer;
}

.hint .question-mark.blue {
    background-image: url('../svg/vb/question-mark-blue.svg');
}

.hint .question-mark:hover ~ .bubble,
.hint .bubble:hover {
    display: block;
}

.hint .bubble {
    display: none;
    position: absolute;
    top: 20px;
    left: -15px;
    font-family: Tahoma, sans-serif;
    font-size: 12px;
    white-space: normal;
    color: white;
    background-color: black;
    padding: 5px 7px;
    border-radius: 5px;
    box-sizing: border-box;
    max-width: 355px;
    cursor: text;
    z-index: 1000;
}

.hint .bubble .before {
    content: '';
    display: block;
    position: absolute;
    top: -6px;
    left: 15.5px;
    width: 13px;
    height: 13px;
    background-color: black;
    transform: rotate(45deg);
    z-index: -1;
}

/**
 ** Стилизованный checkbox
 **/
.text-checkbox {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
    /*border: 1px solid black;*/
}

.text-checkbox input[type="checkbox"] {
    display: none;
}

/*
 * Текст
 */
.text-checkbox .text {
    font-family: Tahoma, sans-serif;
    font-size: 14px;
    line-height: 13px;
    box-sizing: border-box;
    height: 15px;
    /*border: 1px solid black;*/
}

.text-checkbox .text a {
    color: #667393;
    text-decoration: none;
    border-bottom: 1px solid #667393;
}

/*
 * Галочка
 */
.text-checkbox .checkbox {
    box-sizing: border-box;
    width: 15px;
    height: 15px;
    position: relative;
    border: 3px solid #ccc;
    margin-left: 5px;
}

.text-checkbox .checkbox::after {
    content: '';
    display: none;
    position: absolute;
    bottom: 2px;
    left: 2px;
    box-sizing: content-box;
    width: 4px;
    height: 8px;
    border-bottom: 3px solid #667393;
    border-right: 3px solid #667393;
    transform: rotate(45deg);
}

.text-checkbox input[type="checkbox"]:checked + .checkbox::after {
    display: block;
}

/**
 **  Ценник итоговой стоимости
 **/
.cost {
    display: inline-block;
    font-family: Tahoma, sans-serif;
    font-size: 14px;
    padding: 5px;
    border: 1px dashed #c5c5c5;
    border-radius: 5px;
}

/**
 ** Триплет ссылок: обложка-название-автор
 **/
.book-triplet {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    font-family: Tahoma, sans-serif;
    max-width: 200px;
    margin: auto;
    /*border: 1px solid black;*/
}

/*
 * Обложка
 */
.book-triplet img {
    width: 50px;
    height: 80px;
}

/*
 * Название и автор
 */
.book-triplet .title-author {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 5px;
}

.book-triplet .title-author a {
    color: #667393;
    text-align: left;
    text-decoration: none;
}

.book-triplet .title-author a span.text {
    border-bottom: 1px solid #667393;
}

.book-triplet .title-author a.to-book {
    font-size: 13px;
    font-weight: bold;
}

.book-triplet .title-author a.to-author {
    font-size: 11px;
    margin-top: 5px;
}

/**
 ** Баннер "Похожие авторы"
 **/
.similar-authors {
    font-family: 'Myriad Pro Regular';
    font-size: 14px;
    letter-spacing: 0.5px;
    line-height: 20px;
    word-spacing: -0.1px;
}

.similar-authors .title {
    font-weight: bold;
}

.similar-authors ul.similar-authors-list {
    margin-top: 0;
    padding: 0;
    list-style: none;
}

.similar-authors li.similar-author {
    margin: 2px 0;
}

.similar-authors li.similar-author > a {
    color: #667493;
    text-decoration: none;
    border-bottom: 1px solid #667493;
}

/**
 ** Баннер "Полезной информации"
 **/
/*
 * Общая настройка
 */
ul.useful-info,
ul.useful-info li.useful-item ul.links {
    margin: 0;
    padding: 0;
    list-style: none;
    /*border: 1px solid red;*/
}

ul.useful-info {
    max-width: 190px;
    /*border: 1px solid red;*/
}

ul.useful-info li.useful-item:not(:first-child) {
    margin-top: 20px;
}

/*
 * Заголовки
 */
ul.useful-info li.useful-item h2 {
    display: inline;
    font-family: Tahoma, sans-serif;
    font-size: 16px;
    color: #ccbd54;
    font-weight: normal;
    border-bottom: 1px solid #ccbd54;
}

ul.useful-info li.useful-item h3 {
    display: inline;
    font-family: Tahoma, sans-serif;
    font-size: 16px;
    color: black;
    font-weight: normal;
    border-bottom: 1px solid black;
}

/*
 * Ссылки - пункты меню
 */
ul.useful-info li.useful-item ul.links li.link {
    margin-top: 5px;
}

ul.useful-info li.useful-item ul.links li.link a {
    font-family: Tahoma, sans-serif;
    font-size: 12px;
    color: #657392;
    text-decoration: none;
    border-bottom: 1px solid #657392;
}

/**
 ** Кнопка "Показать еще"
 **/
.show-more {
    margin-top: 25px;
    text-align: center;
    /*border: 1px solid black;*/
}

.show-more .btn {
    display: inline-block;
    font-family: 'Myriad Pro Regular';
    font-size: 20px;
    color: #707d9a;
    text-decoration: none;
    margin: auto;
    padding: 10px 35px;
    border-radius: 5px;
    border: 1px dashed #5f7495;
    background: white;
}

.show-more .btn:active {
    box-shadow: inset 0 0 5px 0 #7f9495;
}

/**
 ** Ценник под книгой
 **/
.price-under-book {
    display: inline-block;
    font-family: Tahoma, sans-serif;
    font-size: 12px;
    letter-spacing: 0.3px;
    line-height: 14px;
    color: #525252;
    border: 1px solid #c7ceda;
    border-radius: 4px;
    padding: 1px 5px;
    box-sizing: content-box;
    height: 14px;
}

/*
 * Цена
 */
.price-under-book > .value {
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    height: 14px;
    margin-right: -2px;
    /*border: 1px solid black;*/
}

/*
 * Валюта
 */
.price-under-book > .currency {
    display: inline-block;
    vertical-align: top;
    font-size: 11px;
    line-height: 15px;
    box-sizing: border-box;
    height: 14px;
    /*border: 1px solid black;*/
}

/*
 * Надпись "Бесплатно"
 */
.price-under-book.free > .value {
    color: red;
}

.price-under-book.free > .currency {
    display: none;
}

/**
 ** Пальчики-лайкчики
 **/
div.likes {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    /*border: 1px solid black*/
}

div.likes a {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-family: Tahoma, sans-serif;
    font-size: 12px;
    color: black;
    text-decoration: none;
    /*border: 1px solid black;*/
}

div.likes .like::before {
    content: '';
    display: inline-block;
    width: 15px;
    height: 15px;
    background: url('../svg/vb/thumb-up.svg') no-repeat;
    background-size: 100%;
    margin-right: 5px;
    /*border: 1px solid black;*/
}

div.likes .dislike {
    margin-left: 15px;
}

div.likes .dislike::before {
    content: '';
    display: inline-block;
    width: 15px;
    height: 15px;
    background: url('../svg/vb/thumb-up.svg') no-repeat;
    background-size: 100%;
    transform: scale(-1);
    margin-right: 5px;
    /*border: 1px solid black;*/
}

/**
 ** Выбор типа сортировки
 **/
/*
 * Общие свойства
 */
.sort-by {
    box-sizing: border-box;
    height: 26px;
    /*border: 1px solid black;*/
}

.sort-by input[type="radio"] {
    display: none;
}

/*
 * Заголовок "Сортировать:"
 */
.sort-by > .title {
    display: inline-block;
    vertical-align: middle;
    box-sizing: border-box;
    height: 24px;
    font-family: Tahoma, sans-serif;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 0.3px;
    line-height: 20px;
    color: black;
    margin: 0;
    /*border: 1px solid black;*/
}

/*
 * Тип (параметр) сортировки
 */
.sort-by > .sort-links {
    display: inline-block;
    vertical-align: middle;
    box-sizing: border-box;
    height: 24px;
    /*border: 1px solid black;*/
}

/* переключалки типа (параметра) сортировки */
.sort-by > .sort-links > label.sort-link {
    display: inline-block;
    vertical-align: middle;
    box-sizing: border-box;
    height: 22px;
    padding: 2px 0px 2px 6px;
    cursor: pointer;
    border-radius: 5px;
    margin: 0 0 0 5px;
    /*border: 1px solid black;*/
}

.sort-by > .sort-links > label.sort-link .text {
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    height: 16px;
    font-family: Tahoma, sans-serif;
    font-size: 12px;
    font-weight: normal;
    letter-spacing: 0.3px;
    white-space: nowrap;
    line-height: 14px;
    color: #5f7495;
    border-bottom: 1px solid #5f7495;
}

.sort-by > input[type="radio"].sort-link-1:checked ~ .sort-links > label.sort-link-1,
.sort-by > input[type="radio"].sort-link-2:checked ~ .sort-links > label.sort-link-2,
.sort-by > input[type="radio"].sort-link-3:checked ~ .sort-links > label.sort-link-3,
.sort-by > input[type="radio"].sort-link-4:checked ~ .sort-links > label.sort-link-4 {
    color: black;
    text-decoration: none;
    background-color: #e5d996;
}

/*
 * Направление сортировки (по возрастанию/по убыванию) сортировки
 */
.sort-by > .sort-links > label.sort-link .asc-desc {
    display: inline-block;
    vertical-align: top;
    position: relative;
    box-sizing: border-box;
    width: 17px;
    height: 16px;
    transition: transform .8s ease;
    margin-left: -7px;
    /*border: 1px solid black;*/
}

.sort-by > .sort-links > label.sort-link .asc-desc label {
    box-sizing: border-box;
    width: 15px;
    height: 14px;
    background: url('../svg/vb/arrow_up.svg') no-repeat;
    background-size: 5px 14px;
    background-position: center center;
    cursor: pointer;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    /*border: 1px solid black;*/
}

.sort-by > .sort-links > label.sort-link > input[type="radio"].asc:not(:checked) ~ .asc-desc label.asc,
.sort-by > .sort-links > label.sort-link > input[type="radio"].desc:not(:checked) ~ .asc-desc label.desc {
    z-index: 1;
}

.sort-by > .sort-links > label.sort-link > input[type="radio"].desc:checked ~ .asc-desc {
    transform: rotate(180deg);
}

/**
 ** Ценник со значком рубля
 **/
.price-sign span {
    display: inline-block;
    vertical-align: middle;
}

.price-sign .value {
    font-family: Tahoma, sans-serif;
    font-size: 13px;
    line-height: 9px;
    /*border: 1px solid black;*/
}

/*
 * Значок - Рубль
 */
.price-sign .currency img {
    width: 9px;
    height: 9px;
    /*border: 1px solid black;*/
}

/**
 ** Кнопка "В корзину" с ценником
 **/
.buy {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    white-space: nowrap;
}

.buy .item {
    font-family: Tahoma, sans-serif;
    font-size: 12px;
    line-height: 12px;
    border: 1px solid #c4c4c4;
    padding: 10px 15px;
    box-sizing: border-box;
    height: 34px;
}

/*
 * Ценник
 */
.buy .price {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-right: none;
}

.buy .price > span.value {
    padding-right: 0;
}

.buy .price > span.currency {
    padding-left: 0;
}

/*
 * Кнопка "В корзину"
 */
.buy .cart-btn {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: black;
    text-decoration: none;
}

.buy .cart-btn:hover {
    background-color: #cc7937;
}

.buy .cart-btn:active {
    box-shadow: inset 0 0 5px 0 #667493;
}

/**
 ** Надпись-предупреждение
 **/
.warning {
    font-family: Tahoma, sans-serif;
    font-size: 14px;
    color: #7f7f7f;
    line-height: 20px;
    margin: 25px auto;
    background: url('../svg/vb/warning.svg') no-repeat;
    background-size: 18px 16px;
    background-position: left center;
    padding-left: 25px;
}

.warning a {
    color: #667393;
    text-decoration: none;
    border-bottom: 1px solid #667393;
}

/**
 **  Рейтинг книги (5 звезд)
 **/
.rating-5-stars {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

/*
 * Звезды рейтинга книги
 */
/* SVG-маска из дырок для звездочек */
.rating-5-stars .rating-stars {
    width: 82px;
    height: 16px;
    background-image: url('../svg/vb/rating-5-stars.svg');
    background-repeat: no-repeat;
    background-size: 100%;
    position: relative;
    /*border: 1px solid black;*/
}

/* сначала все закрашиваем оранжевым */
.rating-5-stars .rating-stars::before {
    content: '';
    display: block;
    width: 82px;
    height: 15px;
    background-color: #e8ba42;
    position: absolute;
    z-index: -1;
    /*border: 1px solid black;*/
}

/*
 *  Число рейтинга
 */
.rating-5-stars .rating-number {
    font-family: Tahoma, sans-serif;
    font-size: 13px;
    line-height: 16px;
    color: black;
    letter-spacing: 0.3px;
    margin-left: 5px;
    /*border: 1px solid black;*/
}

/**
 ** Рейтинг автора
 **/
.rating-3-stars {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    /*border: 1px solid black;*/
}

/*
 * Звезды рейтинга автора
 */
/* SVG-маска из дырок для звездочек */
.rating-3-stars .rating-stars {
    width: 82px;
    height: 21px;
    background-image: url(../svg/vb/rating-3-stars.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    position: relative;
    /*border: 1px solid black;*/
}

/* сначала все закрашиваем желтым */
.rating-3-stars .rating-stars::before {
    content: '';
    display: block;
    width: 82px;
    height: 21px;
    background-color: yellow;
    position: absolute;
    z-index: -1;
    /*border: 1px solid black;*/
}

/*
 *  Число рейтинга
 */
.rating-3-stars .rating-number {
    font-family: Tahoma, sans-serif;
    font-size: 14px;
    color: black;
    letter-spacing: 0.3px;
    margin-left: 10px;
    /*border: 1px solid black;*/
}

/**
 ** Блок Списка рейтинга
 **/
.ratings {
    font-family: Tahoma, sans-serif;
    font-size: 12px;
    background: url('../svg/vb/bar_chart.svg') no-repeat;
    background-size: 15px 15px;
    padding-left: 20px;
    /*border: 1px solid black;*/
}

/*
 * Флексирование Списка рейтинга
 */
.ratings .list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.ratings .list .item {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    /*border: 1px solid black;*/
}

.ratings .list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.ratings .list .item {
    font-family: Tahoma, sans-serif;
    font-size: 12px;
    margin-top: 15px;
}

/*
 * Стрелочка, показывающая динамику роста (вверх или вниз по рейтингу)
 */
.ratings .list .item .dynamic-up {
    width: 4px;
    height: 12px;
    /*border: 1px solid black;*/
}

.ratings .list .item .dynamic-up img {
    width: 4px;
    height: 12px;
    /*border: 1px solid black;*/
}

.ratings .list .item .dynamic-up.invert {
    transform: scaleY(-1);
}

/*
 * Порядковый номер в рейтинге (этот номер является ссылкой)
 */
.ratings .list .item a {
    color: #657392;
    white-space: nowrap;
    margin-left: 5px;
    /*border: 1px solid black;*/
}

.ratings .list .item a span {
    display: inline-block;
    width: 30px;
    text-decoration: underline;
    /*border: 1px solid black;*/
}

/*
 * Название рейтинга
 */
.ratings .list .item .rating-title {
    /*border: 1px solid black;*/
}

/**
 **  Баннер специальных предложений
 **/
.spec {
    width: 199px;
}

/*
 * Шапка баннера специальных предложений
 */
.spec > .header {
    font-family: Verdana;
    font-size: 15px;
    letter-spacing: 0.8px;
    line-height: 19px;
    font-style: italic;
    padding-left: 17px;
    padding-top: 15px;
    color: #d3be4a;
    height: 53px;
    border: 1px dashed #888;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #f5f5f5;
}

.spec > .header > .arrow-down {
    width: 15px;
    height: 15px;
    border-right: 2px solid #dae1ee;
    border-bottom: 2px solid #dae1ee;
    transform: rotate(41deg) skewX(-10deg);
    position: relative;
    top: -31px;
    left: 137px;
}

/*
 * Тело баннера специальных предложений
 */
.spec > .main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    box-sizing: border-box;
    width: 100%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 1px dashed #888;
    border-top: none;
    padding: 30px 10px;
}

.spec > .main a.show-all {
    text-align: center;
    text-decoration: none;
}

.spec > .main a.show-all > span.text {
    font-family: Tahoma, sans-serif;
    font-size: 12px;
    color: #667493;
    border-bottom: 1px solid #667493;
}

/* Книжка на баннере специальных предложений */
.spec > .main > .spec-book {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 30px;
}

.spec > .main > .spec-book .cover-rating {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 55px;
    text-decoration: none;
}

.spec > .main > .spec-book .cover {
    position: relative;
    left: 5px;
    overflow: hidden;
    float: left;
    box-shadow: 2px 0 3px -2px #888,
    -2px 0 3px -2px #888;
}

/* Обложка электронной книги на баннере специальных предложений */
.spec.ebook > .main > .spec-book .cover {
    width: 55px;
    height: 88px;
}

/* Обложка аудиокниги на баннере специальных предложений */
.spec.audiobook > .main > .spec-book .cover {
    width: 55px;
    height: 55px;
}

/* Рейтинг-звездочка у книжки на баннере специальных предложений */
.spec > .main > .spec-book .rating::before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    background-image: url(../svg/vb/rating-star.svg);
    background-color: #e8ba42;
    background-repeat: no-repeat;
    background-size: 15px 15px;
    width: 15px;
    height: 15px;
    position: relative;
    bottom: 1px;
    right: 1px;
}

.spec > .main > .spec-book .rating {
    display: inline-block;
    vertical-align: middle;
    font-family: Tahoma, sans-serif;
    font-size: 12px;
    color: black;
    letter-spacing: 0.3px;
    position: relative;
    left: 15px;
    /*border: 1px solid black;*/
}

/* Позиционирование рейтинга электронной книги на баннере специальных предложений */
.spec.ebook > .main > .spec-book .rating {
    top: 5px;
}

/* Позиционирование рейтинга аудиокниги на баннере специальных предложений */
.spec.audiobook > .main > .spec-book .rating {
    top: 15px;
}

/* Описание книжки на баннере специальных предложений */
.spec > .main > .spec-book > .content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
    left: 15px;
    top: -3px;
    padding-right: 10px;
    height: 88px;
    /*border: 1px solid black;*/
}

/* Заголовок книжки на баннере специальных предложений */
.spec > .main > .spec-book > .content > .title {
    display: block;
    font-family: Tahoma, sans-serif;
    font-size: 11px;
    color: #d3be4a;
    letter-spacing: 0.3px;
    text-decoration: none;
    line-height: 16px;
    margin-bottom: 4px;
}

.spec > .main > .spec-book > .content > .title > span.text {
    border-bottom: 1px solid #d3be4a;
}

/* Имя автора книжки на баннере специальных предложений */
.spec > .main > .spec-book > .content > .author-name {
    display: block;
    font-family: Tahoma, sans-serif;
    font-size: 10px;
    color: #6e6e6e;
    text-decoration: none;
    letter-spacing: 0.3px;
    margin-bottom: 9px;
}

.spec > .main > .spec-book > .content > .author-name > span.text {
    border-bottom: 1px solid #6e6e6e;
}

/* Цена книжки на баннере специальных предложений */
.spec > .main > .spec-book .price {
    display: inline-block;
    font-family: Tahoma, sans-serif;
    font-size: 11.5px;
    color: white;
    height: 18px;
    transform: skewX(15deg);
    background-image: linear-gradient(#f9a47c 10%, #e9773e 60%);
    margin-left: 4px;
    position: absolute;
    bottom: 0;
}

.spec > .main > .spec-book .price > span {
    display: inline-block;
    transform: skewX(-15deg);
    box-sizing: border-box;
    padding: 2px 13px;
    padding-bottom: 15px;
    position: relative;
    left: 2px;
}

.spec > .main > .spec-book .price > span.value {
    padding-right: 0;
}

.spec > .main > .spec-book .price > span.currency {
    padding-left: 0;
}

/* Обложка электронной книги на баннере специальных предложений */
.spec > .main > .spec-book .cover {
    width: 55px;
    height: 88px;
    overflow: hidden;
    float: left;
}