/* START (Тело страницы) -------------------------------------------------------------------------------------------- */

/***
 *** Центральная часть страницы
 ***/
main.author-rating {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 40px;
    margin-bottom: 30px;
    /*border: 1px solid green;*/
}

main.author-rating .columns {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

/***
 *** Для того, чтобы подчеркнуть, что выбран один из пунктов: Задать вопрос или Корзина, к div добавляется класс header-item-selected
 ***/
main.author-rating .header-item-selected {
    border: 3px solid #e5d996;
    border-radius: 5px;
}

/***
 *** Общее
 ***/
/* убираем лишние элементы разметки */
main.author-rating .slogan,
main.author-rating .column-3 {
    display: none !important;
}

/**
 ** Базовая разметка
 **/
main.author-rating .column {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

main.author-rating .column-1 {
    flex-basis: 200px;
    margin-left: 25px;
}

main.author-rating .column-2 {
    flex-basis: 1000px;
    margin-right: 25px;
}

/**
 ** Заголовочная часть
 **/
main.author-rating .column-2 .header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 15px;
}

/*
 * Заголовок
 */
main.author-rating .column-2 .header h1 {
    font-family: Tahoma, sans-serif;
    font-size: 34px;
    font-weight: normal;
    margin: 0;
    /*border: 1px solid black;*/
}

/*
 * Выбранные категории фильтрации рейтинга авторов
 */
main.author-rating .column-2 .header .categories {
    font-family: Tahoma, sans-serif;
    font-size: 19px;
    margin-left: 1px;
}

/*
 * Сводная информации по результатам фильтрации рейтинга
 */
main.author-rating .column-2 .header .summary {
    font-family: Tahoma, sans-serif;
    font-size: 13px;
    margin-left: 22px;
    margin-top: 10px;
}

/**
 ** Блок автора
 **/
main.author-rating .author {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid #bdbdbd;
    border-radius: 5px;
    padding: 30px;
    margin-top: 25px;
    position: relative;
}

/*
 * Блок автора - Порядковый номер в рейтинге
 */
main.author-rating .author .serial-number {
    font-family: Tahoma, sans-serif;
    font-size: 33px;
    position: absolute;
    top: -1px;
    left: -1px;
    box-sizing: border-box;
    width: auto;
    height: 50px;
    padding-left: 15px;
    padding-right: 15px;
    border: 1px solid #bdbdbd;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

main.author-rating .author .serial-number .text {
    vertical-align: middle;
    /*border: 1px solid black;*/
}

/*
 * Блок автора - Фото автора в маске-обрезалке
 */
main.author-rating .author .author-photo {
    margin: auto;
    border-style: none;
}

/*
 * Блок автора - Об авторе
 */
main.author-rating .author .about {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 30px;
}

/*
 * Блок автора - имя автора и его рейтинг (звездочки)
 */
main.author-rating .author .about .fullname-rating {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

main.author-rating .author .about .fullname-rating > div {
    margin-right: 30px;
    /*border: 1px solid black;*/
}

/* имя автора */
main.author-rating .author .about .fullname-rating .fullname a {
    font-family: Tahoma, sans-serif;
    font-size: 22px;
    color: #667393;
}

/*
 * Блок автора - Жанры
 */
main.author-rating .author .about .genres {
    font-family: Tahoma, sans-serif;
    font-size: 12px;
    color: #7b7b7b;
    margin-top: 10px;
}

main.author-rating .author .about .genres a {
    font-family: Tahoma, sans-serif;
    font-size: 12px;
    color: #667493;
}

/*
 * Блок автора - Описание
 */
main.author-rating .author .about .description {
    font-family: Tahoma, sans-serif;
    font-size: 12px;
    line-height: 17px;
    margin-top: 25px;
    /*border: 1px solid black;*/
}

/*
 * Блок автора - Футер
 */
main.author-rating .author .about .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: Tahoma, sans-serif;
    font-size: 12px;
    color: #7b7b7b;
    margin-top: 20px;
    margin-right: 20px;
}

main.author-rating .author .about .footer div {
    margin-right: 30px;
}

main.author-rating .author .about .footer a {
    color: #667493;
}

/* END (Тело страницы) -------------------------------------------------------------------------------------------- */