/***
 *** Общее
 ***/
/**
 ** Выбор типа сортировки
 **/
/*
 * Общие свойства
 */
.sort-by {
    box-sizing: border-box;
    height: 26px;
    /*border: 1px solid black;*/
}

.sort-by input[type="radio"] {
    display: none;
}

/*
 * Заголовок "Сортировать:"
 */
.sort-by > .title {
    display: inline-block;
    vertical-align: middle;
    box-sizing: border-box;
    height: 24px;
    font-family: Tahoma;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 0.3px;
    line-height: 18px;
    color: black;
    margin: 0;
    /*border: 1px solid black;*/
}

/*
 * Тип (параметр) сортировки
 */
.sort-by > .sort-links {
    display: inline-block;
    vertical-align: middle;
    box-sizing: border-box;
    height: 24px;
    /*border: 1px solid black;*/
}

/* переключалки типа (параметра) сортировки */
.sort-by > .sort-links > label.sort-link {
    display: inline-block;
    vertical-align: middle;
    box-sizing: border-box;
    height: 22px;
    padding: 2px 0px 2px 6px;
    cursor: pointer;
    border-radius: 5px;
    margin: 0 0 0 5px;
    /*border: 1px solid black;*/
}

.sort-by > .sort-links > label.sort-link .text {
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    height: 16px;
    font-family: Tahoma;
    font-size: 12px;
    font-weight: normal;
    letter-spacing: 0.3px;
    white-space: nowrap;
    line-height: 14px;
    color: #5f7495;
    text-decoration: underline;
    /*border: 1px solid black;*/
}

.sort-by > input[type="radio"].sort-link-1:checked ~ .sort-links > label.sort-link-1,
.sort-by > input[type="radio"].sort-link-2:checked ~ .sort-links > label.sort-link-2,
.sort-by > input[type="radio"].sort-link-3:checked ~ .sort-links > label.sort-link-3,
.sort-by > input[type="radio"].sort-link-4:checked ~ .sort-links > label.sort-link-4 {
    color: black;
    text-decoration: none;
    background-color: #e5d996;
}

/*
 * Направление сортировки (по возрастанию/по убыванию) сортировки
 */
.sort-by > .sort-links > label.sort-link .asc-desc {
    display: inline-block;
    vertical-align: top;
    position: relative;
    box-sizing: border-box;
    width: 17px;
    height: 16px;
    transition: transform .8s ease;
    margin-left: -7px;
    /*border: 1px solid black;*/
}

.sort-by > .sort-links > label.sort-link .asc-desc label {
    box-sizing: border-box;
    width: 15px;
    height: 14px;
    background: url('../svg/vb/arrow_up.svg') no-repeat;
    background-size: 5px 14px;
    background-position: center center;
    cursor: pointer;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    /*border: 1px solid black;*/
}

.sort-by > .sort-links > label.sort-link > input[type="radio"].asc:not(:checked) ~ .asc-desc label.asc,
.sort-by > .sort-links > label.sort-link > input[type="radio"].desc:not(:checked) ~ .asc-desc label.desc {
    z-index: 1;
}

.sort-by > .sort-links > label.sort-link > input[type="radio"].desc:checked ~ .asc-desc {
    transform: rotate(180deg);
}

/**
 ** Ценник со значком рубля
 **/
.price-sign span {
    display: inline-block;
    vertical-align: middle;
}

.price-sign .value {
    font-family: Tahoma;
    font-size: 13px;
    line-height: 9px;
    /*border: 1px solid black;*/
}

/*
 * Значок - Рубль
 */
.price-sign .currency img {
    width: 9px;
    height: 9px;
    /*border: 1px solid black;*/
}

/**
 ** Кнопка "В корзину" с ценником
 **/
.buy {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    white-space: nowrap;
}

.buy .item {
    font-family: Tahoma;
    font-size: 12px;
    line-height: 12px;
    border: 1px solid #c4c4c4;
    padding: 10px 15px;
    box-sizing: border-box;
    height: 34px;
}

/*
 * Ценник
 */
.buy .price {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-right: none;
}

.buy .price > span.value {
    padding-right: 0;
}

.buy .price > span.currency {
    padding-left: 0;
}

/*
 * Кнопка "В корзину"
 */
.buy .cart-btn {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: black;
    text-decoration: none;
}

.buy .cart-btn:hover {
    background-color: #cc7937;
}

.buy .cart-btn:active {
    box-shadow: inset 0 0 5px 0 #667493;
}

/**
 ** Надпись-предупреждение
 **/
.warning {
    font-family: Tahoma;
    font-size: 14px;
    color: #7f7f7f;
    line-height: 20px;
    margin: 25px auto;
    background: url('../svg/vb/warning.svg') no-repeat;
    background-size: 18px 16px;
    background-position: left center;
    padding-left: 25px;
}

.warning a {
    color: #667393;
}

/**
 **  Рейтинг книги (5 звезд)
 **/
.rating-5-stars {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

/*
 * Звезды рейтинга книги
 */
/* SVG-маска из дырок для звездочек */
.rating-5-stars .rating-stars {
    width: 82px;
    height: 16px;
    background-image: url('../svg/vb/rating-5-stars.svg');
    background-repeat: no-repeat;
    background-size: 100%;
    position: relative;
    //border: 1px solid black;
}

/* сначала все закрашиваем оранжевым */
.rating-5-stars .rating-stars::before {
    content: '';
    display: block;
    width: 82px;
    height: 15px;
    background-color: #e8ba42;
    position: absolute;
    z-index: -1;
    //border: 1px solid black;
}

/*
 *  Число рейтинга
 */
.rating-5-stars .rating-number {
    font-family: Tahoma;
    font-size: 13px;
    line-height: 16px;
    color: black;
    letter-spacing: 0.3px;
    margin-left: 5px;
    //border: 1px solid black;
}

/**
 ** Рейтинг автора
 **/
.rating-3-stars {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    //border: 1px solid black;
}

/*
 * Звезды рейтинга автора
 */
/* SVG-маска из дырок для звездочек */
.rating-3-stars .rating-stars {
    width: 82px;
    height: 21px;
    background-image: url(../svg/vb/rating-3-stars.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    position: relative;
    //border: 1px solid black;
}

/* сначала все закрашиваем желтым */
.rating-3-stars .rating-stars::before {
    content: '';
    display: block;
    width: 82px;
    height: 21px;
    background-color: yellow;
    position: absolute;
    z-index: -1;
    //border: 1px solid black;
}

/*
 *  Число рейтинга
 */
.rating-3-stars .rating-number {
    font-family: Tahoma;
    font-size: 14px;
    color: black;
    letter-spacing: 0.3px;
    margin-left: 10px;
    //border: 1px solid black;
}

/**
 ** Блок Списка рейтинга
 **/
.ratings {
    font-family: Tahoma;
    font-size: 12px;
    background: url('../svg/vb/bar_chart.svg') no-repeat;
    background-size: 15px 15px;
    padding-left: 20px;
    //border: 1px solid black;
}

/*
 * Флексирование Списка рейтинга
 */
.ratings .list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.ratings .list .item {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    //border: 1px solid black;
}

.ratings .list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.ratings .list .item {
    font-family: Tahoma;
    font-size: 12px;
    margin-top: 15px;
}

/*
 * Стрелочка, показывающая динамику роста (вверх или вниз по рейтингу)
 */
.ratings .list .item .dynamic-up {
    width: 4px;
    height: 12px;
    //border: 1px solid black;
}

.ratings .list .item .dynamic-up img {
    width: 4px;
    height: 12px;
    //border: 1px solid black;
}

.ratings .list .item .dynamic-up.invert {
    transform: scaleY(-1);
}

/*
 * Порядковый номер в рейтинге (этот номер является ссылкой)
 */
.ratings .list .item a {
    color: #657392;
    white-space: nowrap;
    margin-left: 5px;
    //border: 1px solid black;
}

.ratings .list .item a span {
    display: inline-block;
    width: 30px;
    text-decoration: underline;
    //border: 1px solid black;
}

/*
 * Название рейтинга
 */
.ratings .list .item .rating-title {
    //border: 1px solid black;
}

/**
 **  Баннер специальных предложений
 **/
.spec {
    width: 199px;
}

/*
 * Шапка баннера специальных предложений
 */
.spec > .header {
    font-family: Verdana;
    font-size: 15px;
    letter-spacing: 0.8px;
    line-height: 19px;
    font-style: italic;
    padding-left: 17px;
    padding-top: 15px;
    color: #d3be4a;
    height: 53px;
    border: 1px dashed #888;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #f5f5f5;
}

.spec > .header > .arrow-down {
    width: 15px;
    height: 15px;
    border-right: 2px solid #dae1ee;
    border-bottom: 2px solid #dae1ee;
    transform: rotate(41deg) skewX(-10deg);
    position: relative;
    top: -31px;
    left: 137px;
}

/*
 * Тело баннера специальных предложений
 */
.spec > .main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    box-sizing: border-box;
    width: 100%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 1px dashed #888;
    border-top: none;
    padding: 30px 10px;
}

.spec > .main .show-all {
    font-family: Tahoma;
    font-size: 12px;
    color: #667493;
    text-align: center;
}

/* Книжка на баннере специальных предложений */
.spec > .main > .spec-book {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 30px;
    text-decoration: none;
}

.spec > .main > .spec-book .cover-rating {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 55px;
}

.spec > .main > .spec-book .cover {
    position: relative;
    left: 5px;
    overflow: hidden;
    float: left;
    box-shadow: 2px 0 3px -2px #888,
                -2px 0 3px -2px #888;
}

/* Обложка электронной книги на баннере специальных предложений */
.spec.ebook > .main > .spec-book .cover {
    width: 55px;
    height: 88px;
}

/* Обложка аудиокниги на баннере специальных предложений */
.spec.audiobook > .main > .spec-book .cover {
    width: 55px;
    height: 55px;
}

/* Рейтинг-звездочка у книжки на баннере специальных предложений */
.spec > .main > .spec-book .rating::before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    background-image: url(../svg/vb/rating-star.svg);
    background-color: #e8ba42;
    background-repeat: no-repeat;
    background-size: 15px 15px;
    width: 15px;
    height: 15px;
    position: relative;
    bottom: 1px;
    right: 1px;
}

.spec > .main > .spec-book .rating {
    display: inline-block;
    vertical-align: middle;
    font-family: Tahoma;
    font-size: 12px;
    color: black;
    letter-spacing: 0.3px;
    position: relative;
    left: 15px;
    //border: 1px solid black;
}

/* Позиционирование рейтинга электронной книги на баннере специальных предложений */
.spec.ebook > .main > .spec-book .rating {
    top: 5px;
}

/* Позиционирование рейтинга аудиокниги на баннере специальных предложений */
.spec.audiobook > .main > .spec-book .rating {
    top: 15px;
}

/* Описание книжки на баннере специальных предложений */
.spec > .main > .spec-book > .content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
    left: 15px;
    top: -3px;
    padding-right: 10px;
    height: 88px;
    //border: 1px solid black;
}

/* Заголовок книжки на баннере специальных предложений */
.spec > .main > .spec-book > .content > .title {
    font-family: Tahoma;
    font-size: 11px;
    color: #d3be4a;
    letter-spacing: 0.3px;
    text-decoration: underline;
    line-height: 16px;
    margin-bottom: 4px;
}

/* Имя автора книжки на баннере специальных предложений */
.spec > .main > .spec-book > .content > .author-name {
    font-family: Tahoma;
    font-size: 10px;
    color: #6e6e6e;
    text-decoration: underline;
    letter-spacing: 0.3px;
    margin-bottom: 9px;
}

/* Цена книжки на баннере специальных предложений */
.spec > .main > .spec-book .price {
    display: inline-block;
    font-family: Tahoma;
    font-size: 11.5px;
    color: white;
    height: 18px;
    transform: skewX(15deg);
    background-image: linear-gradient(#f9a47c 10%, #e9773e 60%);
    margin-left: 4px;
    position: absolute;
    bottom: 0;
}

.spec > .main > .spec-book .price > span {
    display: inline-block;
    transform: skewX(-15deg);
    box-sizing: border-box;
    padding: 2px 13px;
    padding-bottom: 15px;
    position: relative;
    left: 2px;
}

.spec > .main > .spec-book .price > span.value {
    padding-right: 0;
}

.spec > .main > .spec-book .price > span.currency {
    padding-left: 0;
}

/* Обложка электронной книги на баннере специальных предложений */
.spec > .main > .spec-book .cover {
    width: 55px;
    height: 88px;
    overflow: hidden;
    float: left;
}