.cp-container {
	position: relative;
	width: 55px;
	height: 55px;
	background: url('../../../svg/vb/jplayer/background.svg');
	background-repeat: no-repeat;
	background-size: 55px 55px;
	background-position: center center;
	margin-top: 10px;
}

.cp-container:focus {
	border: none;
	outline: 0;
}

.cp-buffer-1,
.cp-buffer-2,
.cp-progress-1,
.cp-progress-2 {
	position: absolute;
	top: 0;
	left: 0;
	width: 55px;
	height: 55px;
	clip: rect(0, 27.5px, 55px, 0);
	border-radius: 27.5px;
}

.cp-buffer-1,
.cp-buffer-2 {
	background: url('../../../svg/vb/jplayer/buffer.svg');
	background-repeat: no-repeat;
	background-size: 55px 55px;
	background-position: center center;
}

/* FALLBACK for .progress
 * (24 steps starting from 1hr filled progress, Decrease second value by 55px for next step)
 * (It needs the container selector to work. Or use div)
 */
.cp-progress-1,
.cp-progress-2 {
	background: url('../../../svg/vb/jplayer/progress.svg');
	background-repeat: no-repeat;
	background-size: 55px 55px;
	background-position: center center;
}

.cp-buffer-holder,
.cp-progress-holder,
.cp-circle-control {
	position: absolute;
	width: 55px;
	height: 55px;
}

.cp-circle-control {
	cursor: pointer;
}

.cp-buffer-holder,
.cp-progress-holder {
	clip: rect(0, 55px, 55px, 27.5px);
	display: none;
}

/* This is needed when progress is greater than 50% or for fallback */
.cp-buffer-holder.cp-gt50,
.cp-progress-holder.cp-gt50,
.cp-progress-1.cp-fallback {
	clip: rect(auto, auto, auto, auto);
}

.cp-controls {
	display: block;
	list-style-type: none;
	width: 35px;
	height: 35px;
	padding: 0;
	margin: 10px;
	position: relative;
}

.cp-controls li {
	display: block;

	/*IE Fix*/
	position: absolute;

	width: 35px;
	height: 35px;
}

.cp-controls li a {
	position: relative;
	display: block;
	width: 35px;
	height: 35px;
	z-index: 1;
	cursor: pointer;
}

.cp-controls li a .text {
	display: block;
	font-family: Tahoma, sans-serif;
	font-size: 12px;
	line-height: 17.5px;
	color: #585858;
	width: 70px;
	height: 35px;
	margin-left: 55px;
}

.cp-controls .cp-play {
	background: url('../../../svg/vb/jplayer/play-button.svg');
	background-repeat: no-repeat;
	background-size: 35px 35px;
	background-position: center center;
}

.cp-controls .cp-play:hover {
	background: url('../../../svg/vb/jplayer/play-button-hover.svg');
	background-repeat: no-repeat;
	background-size: 35px 35px;
	background-position: center center;
}

.cp-controls .cp-pause {
	display: none;
	background: url('../../../svg/vb/jplayer/pause-button.svg');
	background-repeat: no-repeat;
	background-size: 35px 35px;
	background-position: center center;
}

.cp-controls .cp-pause:hover {
	background: url('../../../svg/vb/jplayer/pause-button-hover.svg');
	background-repeat: no-repeat;
	background-size: 35px 35px;
	background-position: center center;
}

.cp-jplayer {
	width: 0;
	height: 0;
}